:root {
    --main-color: #000000;
    --secondary-color: #FFFFFF;
    --accent-color: #A92A1D;
    --vector-color: #E74C3C;
  }

body {
    font-family: 'Montserrat', Poppins, sans-serif;
    background-color: var(--main-color);
    color: var(--secondary-color);
}
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
img {
    display: block;
     max-width: 100%;
    height: auto;
}
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* Header */

.header {
    margin-bottom: 10px;
}

.header-container {
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
}

.logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;  
    color: var(--secondary-color);
}

.logo-r {
    color: var(--accent-color);
}

.header-icon {
    margin-left: 37px;
    align-items: center;
    fill: var(--vector-color);
}
.hours {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 2;

width: 229px;
height: 32px;

margin-left: 13px;
color: var(--secondary-color);
opacity: 0.75;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    gap: 63px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 2;

    margin-left: 150px;

  width: 100%;
  height: 32px;

  color: var(--secondary-color);
}

.item-link {
    opacity: 0.75;
    transition: color 0.3s, text-shadow 0.3s;

}

.item-link:hover,
.item-link:focus {
    opacity: 1; 
    color: var(--secondary-color);
    text-shadow: 0 0 5px white;  
}

.item-link-current {
    width: 111px;
    height: 50px;
    padding: 9px 24px;
    color: var(--secondary-color);
    background-color: var(--accent-color);

    
}



/* Section Hero */

.hero {
  width: 1600px;
  height: 800px; 
  position: relative;
  overflow: hidden;
  border: 1px solid #000000;
  background-image: url(/images/hero.jpg), linear-gradient(180deg, rgba(0, 0, 0, 0) 71.06%, #000000 91.71%);

  /* background: linear-gradient(180deg, rgba(0, 0, 0, 0) 71.06%, #000000 91.71%); */


  }
  
  .hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 71.06%, #000000 91.71%);
 
  }
  
  /* .hero-image {
    width: 100%;
    height: 100%;
    background-image: url(/images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 1;
  } */

h1 {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 1.21;
text-align: center;

padding-top: 200px;



color: rgba(255, 255, 255, 0.75);

/* position: relative;
  z-index: 2; */
}